
body {
    background-color:lightgreen;
}


.App {
    display:flex;
    
    align-items:center;
    height:100vh;
    width:100vw;
    flex-direction: column;
}

.title {

    font-family: tarif, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.container {
    width: 100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.board {
   width:600px;
   height:600px;
   background-color:lightgreen;
   display:flex;
   flex-direction: column;

}

.row {
    display:flex;
    flex-direction:row;
    flex:33%;
    border: solid black;
    
}


.square {

    flex:33%;
    border:solid black;
}